*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google font  */

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* Universal Style  */
.d-flex{
  display: flex;

}

.max-width{
  max-width: 1140px;
  margin: 0 auto;
}

.w-100{
  width: 100%;
}

.text-center{
  text-align: center;
}

/* color  */

.text-lite{
  color: rgb(137, 135, 161);
}

.text-orange{
  color: #E95A08;
}

.text-dark{
  color: rgb(17, 17, 17);
}

.bg-off-white{
  background-color: #F5F8FF;
}

/* Header Style  */

/* Navbar style  */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.navbar ul{
  justify-content: space-evenly;
  gap: 48px;
}
.navbar li{
  list-style: none;
}

.nav-link{
  text-decoration: none;
  color: rgb(137, 135, 161);
  font-family: 'Inter';
  font-size: 16px;

}

/* Hero-section style  */

.hero-section{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding-top: 15vh ;
  
}

.hero-title{
  font-size: 65px;
  padding: 20px 0;
}
.hero-text{
  width: 50%;
  
}

.hero-body-text{
  color: rgba(0, 0, 0, 0.5);
  
}

.hero-img{
  width: 50%;
}

.hero-img img{
  width: 100%;
  
}

/* Plant Section Style  */

.plant-section{
  padding-bottom: 50px;
}

.plant-title,.deal-title{
  font-size: 50px;
  padding: 15px 0;
  text-align: center;
}

.plant-body-text,.deal-text{
  font-size: 22px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);

}

.plant-card-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 22px;
}

.plant-card img{
  width: 100%;
}

.card-title{
  font-weight: 400;
  padding: 10px 0;
}

.card-price{
  font-weight: 700;
  padding-bottom: 10px;
}

.btn-primary{
  width: 100%;
  background: #E95A08;
  color: #fff;
  padding: 10px;
  border: none;
}

/* Lover Section style  */

.lover-section{
  align-items: center;
  gap: 25px;
  padding: 50px 0;
}

.lover-img{
  position: relative;
}

.trust-badge{
  width: 50%;
  position: absolute;
  top: -120px;
  right: -120px;
  width: 285px;
  height: 285px;
}

.lover-text{
  padding: 50px;
}

.lover-title{
  font-size: 50px;

}

.lover-text ul li{
  font-size: 22px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.5);
}

/* Plant Section  */
.deal-section{
  padding-bottom: 50px;
  margin: 0 auto;
}
.plant-container{
  display: grid;
  
  grid-template-areas: "bloom zabo zabo"
                       "ana   zabo zabo";

  padding: 0;
}

.plant-right{
  padding-right: 0 ;
}
.bloom-plant{
  
  width: 350px;
  height: 200px;
  color: #FFF;
  font-size: 20px;
  background-image: url('../images/deal-bloom.png');
  border-radius: 15px;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: bloom;
  margin-bottom: 20px ;

}
.ana-plant{
  width: 350px;
  height: 200px;
  color: #FFF;
  font-size: 20px;
  background-image: url('../images/deal-ana.png');
  border-radius: 15px;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: ana;
}
.zabo-plant{
  width: 700px;
  height: 100%;
  color: #FFF;
  font-size: 20px;
  background-image: url('../images/deal-zabo.png');
  border-radius: 15px;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: zabo;
}

.overlay::before{
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: inherit;
}

.overlay > * {
  position: relative;
  z-index: 2;
}

.plant-link{
  color: #fff;
  font-weight: 600;
  padding: 10px 0;
}

.subscribe-section{
 background: url(../images/news-letter-bg.png);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 text-align: center;
 height: 500px;
 
}

.subscribe{
  width: 800px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.subscribe-title{
  font-size: 50px;
  color: #fff;
  padding: 10px 0;
}

.email-input{

}

input[type='email']{
  width: 600px;
  height: 40px;
  padding: 0 10px;
}

input[type='button']{
  padding: 0 25px;
  border: none;
  background-color: #E95A08;
  color: #fff;
}

/* Footer style  */

.footer-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  justify-content: space-evenly;
  padding: 50px 0;
}

.logo-text{
  color: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
}

.footer-nav{

}

.footer-nav ul li{
  list-style: none;
  padding: 10px 0;
}

.footer-nav a{
  text-decoration: none;
  color: rgb(107, 114, 128);
  
}



.social ul {
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.social ul li{
  list-style: none;
  padding: 0 10px;
}

/* infinite spin animation  */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.trust-badge {
  animation: spin 30s linear infinite;
}


/* Responsive style  */

@media (max-width: 576px) {
  .navbar,.plant-section,.lover-section,.deal-section,.footer-container{
    padding: 10px;
  }
  .mobile-hide {
    display: none;
  }
  .navbar ul{
  justify-content: space-between;
  gap: 30px;
}

  .hero-section{
    flex-direction: column-reverse;
    padding: 0 10px;
    margin: 0 auto;
  }

  .hero-title{
    font-size: 24px;
  }

  .hero-img img {
  width: 100%;
  height: auto;
  display: block;
}

  .plant-title{
    font-size: 24px;
  }

  .plant-body-text{
    font-size: 14px;
    text-align: center;
  }

  .plant-card-container{
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    font-size: 14px;
  }

  .lover-section{
    flex-direction: column;
    padding: 0;
  }

  .lover-title{
    font-size: 24px;
  }

  .lover-text ul li{
    font-size: 14px;
  }

 .flower-img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

  .trust-badge{
    display: none;
  }

  .deal-title,.subscribe-title{
    font-size: 24px;
  }

  .deal-text{
    font-size: 14px;
    text-align: center;
  }

  .plant-container{
    grid-template-areas: "bloom"
                       "ana"
                       "zabo";
  }

  .bloom-plant,.ana-plant,.zabo-plant{
    width: 100%;
    height: 300px; 
    margin-top:15px ;
  }

  .subscribe-section{
    padding: 0;
    margin: 0;
  }

  .subscribe{
    width: 100%;
    padding: 0;
    margin: 0;
  }

  input[type='email']{
  width: 200px;
  height: 30px;
  padding: 0 10px;
  }
  .footer-container{
    grid-template-columns: repeat(1,1fr);
    
  }
}
